body
{
    margin: 0 auto;
}
.main
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;

    justify-content: center;
    align-items: center;
    height-max: 100%;
}
.size
{
    display:         flex;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 500px;
    height: 500px;
    margin: 20px;

    border: 5px solid #0097a7;
    border-radius: 50%;
    background: #e0f7fa;

    justify-content: center;
    align-items: center;
}
.center
{
    position: absolute;
    z-index: 99;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: #673ab7;
}
.wrap_hour
{
    position: absolute;
    z-index: 3;

    width: 2px;
    height: 350px;

    transform-origin: center;
    animation-name: rotation_hour;
    animation-duration: 43200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotation_hour
{
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}
.hour
{
    position: absolute;

    width: 5px;
    height: 190px;

    border-radius: 80%;
    background: #7b1fa2;
}
.wrap_minute
{
    position: absolute;
    z-index: 4;

    width: 5px;
    height: 370px;

    transform-origin: center;
    animation-name: rotation_minute;
    animation-duration: 3600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.minute
{
    position: absolute;

    width: 5px;
    height: 200px;

    border-radius: 80%;
    background: #2196f3;
}
@keyframes rotation_minute
{
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}
.wrap_second
{
    position: absolute;
    z-index: 5;

    width: 2px;
    height: 400px;

    transform-origin: center;
    animation-name: rotation_second;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotation_second
{
    0%
    {
        transform: rotateZ(0deg);
        animation-timing-function: steps(60, end);
    }
    100%
    {
        transform: rotateZ(360deg);
    }

}
.second
{
    position: absolute;

    width: 2px;
    height: 220px;

    border-radius: 80%;
    background: #ff1744;
}
.wrap_h1
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(30deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h1
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-30deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h1:after
{
    font-size: 30px;

    content: '1';

    color: white;
}
.wrap_h2
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(60deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h2
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-60deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h2:after
{
    font-size: 30px;

    content: '2';

    color: white;
}
.wrap_h3
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(90deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h3
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-90deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h3:after
{
    font-size: 30px;

    content: '3';

    color: white;
}
.wrap_h4
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(120deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h4
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-120deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h4:after
{
    font-size: 30px;

    content: '4';

    color: white;
}
.wrap_h5
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(150deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h5
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-150deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h5:after
{
    font-size: 30px;

    content: '5';

    color: white;
}
.wrap_h6
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(180deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h6
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-180deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h6:after
{
    font-size: 30px;

    content: '6';

    color: white;
}
.wrap_h7
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(210deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h7
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-210deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h7:after
{
    font-size: 30px;

    content: '7';

    color: white;
}
.wrap_h8
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(240deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h8
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-240deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h8:after
{
    font-size: 30px;

    content: '8';

    color: white;
}
.wrap_h9
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(270deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h9
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-270deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h9:after
{
    font-size: 30px;

    content: '9';

    color: white;
}
.wrap_h10
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(300deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h10
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-300deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h10:after
{
    font-size: 30px;

    content: '10';

    color: white;
}
.wrap_h11
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(330deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h11
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(-330deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h11:after
{
    font-size: 30px;

    content: '11';

    color: white;
}
.wrap_h12
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 42px;
    height: 230px;

    transform: translateY(-115px) rotate(0deg);
    transform-origin: bottom center;
    /*border: 1px solid #673AB7;*/

    justify-content: center;
}
.h12
{
    position: absolute;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 40px;
    height: 40px;

    transform: rotate(0deg);

    border-radius: 50%;
    background: #673ab7;

    justify-content: center;
    align-items: center;
}
.h12:after
{
    font-size: 30px;

    content: '12';

    color: white;
}
